html
  head
    title Modalify - Examples
    meta(name="viewport" content="width=device-width, initial-scale=1")


  body
    .header
      h2
        a(href="/") Modalify
      a(href="https://github.com/stevelacy/modalify" target="_blank")
        img.github(src="github.png")

    .content

      h1 Examples

      #simpleUsage.hidden
        .closeModalify.closeModalifyX &times;
        h1 Basic
        br
        p Any html element can be used as the target
        br
        pre.
          $("#simple").click(function(){
            $("#simpleUsage").modalify();
          });

      .box
        button#simple.button Simple usage


      #optionToggle.hidden
        .closeModalify.closeModalifyX &times;
        h1 Toggle option
        br
        p Any jQuery Toggle animation is supported
        pre.
          $("#optionToggle").modalify({
            toggle:"slideToggle"
          });
      .box
        button#toggle.button Toggle option

      #optionSpeed.hidden
        .closeModalify.closeModalifyX &times;
        h1 Speed option
        br
        p milliseconds of time, or jquery time string

        pre.
          $("#speed").click(function(){
            $("#optionSpeed").modalify({speed: 500});
          });
      .box
        button#speed.button Speed option

      #optionHeight.hidden
        .closeModalify.closeModalifyX &times;
        h1 Height 500px
        br
        pre.
          $("#height").click(function(){
            $("#optionHeight").modalify("open", {
              height: "500px"
            });
          });
      .box
        button#height.button Height option

      #largeContent.hidden
        .closeModalify.closeModalifyX &times;
        h1 Large content
        br
        img(src="//placekitten.com/g/600/400" alt="Random kitten image")
      .box
        button#large.button Large content

      #closeButton.hidden
        .closeModalify.closeModalifyX &times;
        h1 Using another element to close modal
        br
        pre.
          $("#otherElement").click(function(){
            $("#closeButton").modalify("close");
          });
        #otherElement.button Click to Close
      .box
        button#close.button Close with element


    // Required modalify css and js files
    link(rel="stylesheet" type="text/css" href="css/modalify.css")
    script(type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js")
    script(type="text/javascript" src="js/modalify.js")
    script.
      $("#simple").click(function(){
        $("#simpleUsage").modalify();
      });

      $("#toggle").click(function(){
        $("#optionToggle").modalify({toggle:"slideToggle"});
      });

      $("#speed").click(function(){
        $("#optionSpeed").modalify({speed: 500});
      });

      $("#height").click(function(){
        $("#optionHeight").modalify("open", {height: "500px"});
      });

      $("#large").click(function(){
        $("#largeContent").modalify();
      });

      $("#close").click(function(){
        $("#closeButton").modalify();
      });

      $("#otherElement").click(function(){
        $("#closeButton").modalify("close");
      });


    // Example page css
    link(rel="stylesheet" type="text/css" href="./css/example.css")