.hidden
  display none
.modalify
  position fixed
  top 25%
  left 25%
  z-index 999
  width 50%
  display none
  background #fafafa
  box-shadow 0 0 5px rgba(50,50,50, .4)
  padding 25px
  img
    max-width 100%
  .closeModalifyX
    position absolute
    right 10px
    top 12px
    width 20px
    height 22px
    font-size 30px
    line-height 70%
    cursor default
    &:hover
      background rgba(0,0,0, .1)

@media all and (max-width: 800px)
  .modalify
    width 90%
    min-height 70%
    top 5%
    left 5%
    .closeModalifyX
      top 22px
      right 20px
      width 40px
      height 40px
      padding 2px 2px 2px 5px
      font-size 40px
      line-height 80%
